header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  border-bottom: 1px solid lightgrey;
}

.logo-container {
  width: 35%;
}
.logo {
  width: 100px;
}

.flex-input {
  display: flex;
  width: 30%;
}

input {
  width: 25em;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 10px grey;
  height: 3em;
  background-image: url(../../assets/searchicon.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: black;
  width: 35%;
  display: flex;
  justify-content: flex-end;
}
